// FORMS



label {
  font-size: 12px;
  display: block;
  line-height: $unit * 4;
  height: $unit * 4;

}

input {
  box-sizing: border-box;

}

.form-control {
  min-height: $unit * 4;
  width: 100%;
  margin-bottom: $unit * 2;
  font-size: 14px;
  padding-left: $unit;
  border-radius: $unit * 0.5;
  border: 1px solid rgba(0,0,0,0);
  background-color: $color-cloud;
}

small {
  font-size: 12px;
  color: $color-stone;
}

textarea {
  box-sizing: border-box;
  padding-top: $unit;
}
