// LAYOUT

// -- MIXIN

@mixin bp($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 800px) { @content; }
  }
}

// -- General

.container {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  @include bp(mobile) {
    grid-template-columns: 10% 80% 10%;
 }
}

nav {
  position: fixed;
  height: 100%;
  width: 50%;
  background-color: $color-ink;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: $unit;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp(mobile) {
   width: 100%;
   position: absolute;
   height: 300px;
   grid-template-columns: 5% 90% 5%;
 }
}


main {
  background-color: #f8f8f8;
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 20% 60% 20%;
  grid-gap: $unit;
  justify-content: center;
  padding-top: $unit * 10;
  padding-bottom: $unit * 10;
  align-content: center;

  @include bp(mobile) {
   margin-top: 300px;
   grid-column: 1/4;
   padding-top: $unit * 5;
   padding-bottom: $unit * 10;
   align-content: start;
   grid-template-columns: 10% 80% 10%;

 }
}

// -- Nav

nav {

  .logo-wrapper {
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    margin-bottom: $unit * 3;
    z-index: 1;

  }

  .logo {
    width: 240px;
    height: 46px;
    background-image: url("../assets/images/glyph.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  ul {
    grid-column: 2/3;
    z-index: 1;
    @include bp(mobile) {
      text-align: center;
    }
  }


  li {
    text-align: center;
    line-height: $unit * 5;
    height: $unit * 5;
    text-transform: uppercase;
    font-weight: $weight-bold;
    text-shadow: 0px 1px rgba(0,0,0,0.3);

    &.selected {
      font-weight: $weight-black;
      &::before {
        content:"\00a0";
        width: 10px;
        height: 10px;
        color: #fff;
      }
      &::after {
        content:".";
        width: 10px;
        height: 10px;
        color: #fff;
      }
    }

    a, a:active, a:focus, a:hover {
      color: $color-white;
      text-decoration: none;
    }

    @include bp(mobile) {
     display: inline;
     padding: 0 $unit 0 $unit;
   }
  }

  &.page-reserve:before{
    background-image: url("../assets/images/figure_a.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

  }
  &.page-menu:before{
    background-image: url("../assets/images/figure_b.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

  }
  &.page-about:before{
    background-image: url("../assets/images/figure_c.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

  }
  &.page-contact:before{
    background-image: url("../assets/images/figure_d.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

  }

  .social-media {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    bottom: 40px;
    text-align: center;
    z-index: 1;

    @include bp(mobile) {
     top: 10px;
     right: 10px;
     left: auto;
   }
  }

  &::after {
    content: "";
    background-color: rgba(0,0,0,0.4);
    position:absolute;
    width: 100%;
    height: 100%;
  }

}



// -- Main

main {

  .content-main {
    grid-column: 2/3;
  }

  .dish {
    margin-bottom: $unit * 4;

    h3 {
      // text-transform: uppercase;
      margin-bottom: 0px;
    }

    small {
      font-size: 12px;
      color: $color-stone;
    }
  }

}
