// LAYOUT

// -- MIXIN

@mixin bp($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 800px) { @content; }
  }
}

// -- General

.container {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  @include bp(mobile) {
    grid-template-columns: 5% 90% 5%;
 }
}

nav {
  position: fixed;
  height: 100%;
  width: 50%;
  background-color: $color-ink;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-gap: $unit;
  justify-content: center;
  align-content: center;


  @include bp(mobile) {
   width: 100%;
   position: absolute;
   height: 300px;
 }
}


main {
  background-color: #fff;
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 20% 60% 20%;
  grid-gap: $unit;
  justify-content: center;
  padding-top: $unit * 10;
  padding-bottom: $unit * 10;
  align-content: center;

  @include bp(mobile) {
   margin-top: 300px;
   grid-column: 1/4;
   padding-top: $unit * 5;
   padding-bottom: $unit * 10;
   align-content: start;
   grid-template-columns: 10% 80% 10%;

 }

 .illo {
   width: 100%;
 }
}

// -- Nav

nav {

  .logo-wrapper {
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    margin-bottom: $unit * 3;
    z-index: 1;

  }

  .logo {
    width: 240px;
    height: 46px;
    background-image: url("../assets/images/glyph.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  ul {
    text-align: center;
    grid-column: 2/3;
    z-index: 1;

    a {
      text-decoration: none;
    }
  }


  li {
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: $unit * 5;
    height: $unit * 4;
    margin: 0 $unit * 1.5 0 $unit * 1.5;
    border-bottom: 2px solid rgba(255,255,255,0);
    text-transform: uppercase;
    font-weight: $weight-black;
    text-shadow: 0px 1px rgba(0,0,0,0.1);
    opacity: 0.9;
    color: $color-white;

    &:hover {
      opacity: 1;
    }

    &.selected {
      border-bottom: 2px solid rgba(255,255,255,1);
      opacity: 1;
    }

    @include bp(mobile) {
      margin: 0 $unit 0 $unit;
    }
  }


  .social-media {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    bottom: 40px;
    text-align: center;
    z-index: 1;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    @include bp(mobile) {
     top: 10px;
     right: 10px;
     left: auto;
   }
  }


  .nav-img {
    opacity: 0.8;
    pointer-events: none;
  }

  &.page-reserve > .nav-img{
    background-image: url("../assets/images/dinnerware.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  &.page-menu > .nav-img{
    background-image: url("../assets/images/chouxbun.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  &.page-about > .nav-img{
    background-image: url("../assets/images/aboutjimmy.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  &.page-contact > .nav-img{
    background-image: url("../assets/images/contacttart.jpg");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.page-thank-you > .nav-img{
    background-image: url("../assets/images/contact2.JPG");
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  // &::after {
  //   content: "";
  //   background-color: rgba(0,0,0,0.8);
  //   position:absolute;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0.5;
  //   // background-image: url("../assets/images/dench_pattern.png");
  //   // background-repeat: no-repeat;
  //   // background-position: bottom;
  //
  // }

}



// -- Main

main {

  .content-main {
    grid-column: 2/3;
  }

  .dish {
    margin-bottom: $unit * 4;

    h3 {
      // text-transform: uppercase;
      margin-bottom: 0px;
    }

    small {
      font-size: 12px;
      color: $color-stone;
    }
  }

}
