<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dench - {% if page.title %} {{ page.title }} {% endif %}</title>
<meta name="description" content="Dench. Restaurant">
<meta name="author" content="Ed Chao, @edchao">
<meta name="keywords" content="dench, dench., restaurant, popup, pop-up, pop, up, jimmy, wong">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="Hello Robots, this is the website of Dench. Restaurant!">
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" type="image/ico" href="http://edchao.github.io/favicon.ico">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="page-wrapper">
  <main class="content">
   {{content}}
  </main>
</div>
</body>
</html>
