<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dench · {% if page.title %} {{ page.title }} {% endif %}</title>
<meta name="description" content="DENCH. Restaurant">
<meta name="author" content="Ed Chao, @edchao">
<meta name="keywords" content="dench, dench., restaurant, popup, pop-up, pop, up, jimmy, wong, san, luis, obispo">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="Hello Robots, this is the website of DENCH. Restaurant!">
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" type="image/ico" href="/favicon.ico">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container">
  <nav {% if page.title == 'Reserve' %} class="page-reserve"{% endif %} {% if page.title == 'Menu' %} class="page-menu"{% endif %} {% if page.title == 'Cookbook' %} class="page-cookbook"{% endif %} {% if page.title == 'About' %} class="page-about"{% endif %} {% if page.title == 'Contact' %} class="page-contact"{% endif %} {% if page.title == 'Thank you' %} class="page-thank-you"{% endif %}>
    <div class="nav-img"></div>
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>
    <ul>
      <a href="/">
        <li{% if page.title == 'Reserve' %} class="selected"{% endif %}>Reserve</li>
      </a>
      <a href="/menu.html">
        <li{% if page.title == 'Menu' %} class="selected"{% endif %}>Menu</li>
      </a>
      <a href="https://denchcookbook.com/" target="_blank">
        <li{% if page.title == 'Cookbook' %} class="selected" {% endif %} style="font-size:95%">Cookbook</li>
      </a>
      <a href="/about.html">
        <li{% if page.title == 'About' %} class="selected"{% endif %}>About</li>
      </a>
      <a href="/contact.html">
        <li{% if page.title == 'Contact' %} class="selected"{% endif %}>Contact</li>
      </a>
    </ul>
    <div class="social-media">
      <a target="_blank" href="https://www.instagram.com/jwongdynasty/"><img src="/assets/images/glyph-instagram.png" alt="Smiley face" height="24" width="24"></a>
    </div>
  </nav>
  <main>
    <div class="content-main">
      {{content}}
    </div>
  </main>
</div>
</body>
</html>
