<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dench · {% if page.title %} {{ page.title }} {% endif %}</title>
<meta name="description" content="Dench. Restaurant">
<meta name="author" content="Ed Chao, @edchao">
<meta name="keywords" content="dench, dench., restaurant, popup, pop-up, pop, up, jimmy, wong">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="Hello Robots, this is the website of Dench. Restaurant!">
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" type="image/ico" href="http://edchao.github.io/favicon.ico">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container">
  <nav>
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>
    <ul>
      <li{% if page.title == 'Reserve' %} class="selected"{% endif %}>
        <a href="/index.html">Reserve</a>
      </li>
      <li{% if page.title == 'Menu' %} class="selected"{% endif %}>
        <a href="/menu.html">Menu</a>
      </li>
      <li{% if page.title == 'About' %} class="selected"{% endif %}>
        <a href="/about.html">About</a>
      </li>
      <li{% if page.title == 'Contact' %} class="selected"{% endif %}>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
  <main>
   {{content}}
  </main>
</div>
</body>
</html>
